.dashoardArea {
    position: inherit;
    z-index: 9999;
    background-color: #111;
    transition: 0.5s;
    color: white;
    background-color: rgb(15, 14, 14);;
}

.mixed-chart {
    color: black;
    width: 500px;
}

#compareCountry {
    margin-top: 2%;
    margin-left: 3%;
}

/* .apexcharts-menu-icon {
    display: none;
  } */

#removeCompare {
    margin-bottom: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 880px) {
    .mixed-chart {
        width: 95%;
    }
}